body, html {
    height: 100%;
}
  
.bg { 
    /* The image used */
    background-image: url("https://images.unsplash.com/photo-1504198266287-1659872e6590?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.btn {
    border-radius: 25px;
    font-weight: 600;
    text-transform: uppercase;
}

.right{
    float: right;
}

.left{
    float: left;
}